

.line-setting { 
    // padding-right: 15px;
    // padding-left: 15px;
    margin-top: 50px;
    font-size: 10px;
    font-weight: 600;
    color: $secondary-text;
    text-transform: uppercase;
   >div { 
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
   }
   input { 
        background: #f0f2f7;
        border: 1px solid #e3e8f0;
        border-radius: 50px;
        padding: 7px 12px ;
        margin-left: 12px;
        font-size: 10px;
        font-weight: 600;
        color: $primary;
   }
   input:focus { 
     outline: none;
   }
  
    .keywords{ 
        border-left: 1px solid $secondary-bg; 
        border-right: 1px solid $secondary-bg; 
        display: flex;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
    .item { 
        display: flex;
        align-items: center;
        padding-left: 20px;
        white-space: nowrap;
        width: 100%;
        label { 
          margin: 0;
          display: inline-flex;
          align-items: center;
        }
        form { 
          display: flex;
          align-items: center;
        }
    }
    .item.price { 
        input { 
            max-width: 50px;
        }
    }
}

.selectr-selected { 
  border: none !important;
  padding: 0 !important;
  z-index: 5555;
} 
.selectr-selected:before { 
  display: none;
}
.selectr-label { 
  padding: 7px 12px;
  color: $primary ;
  font-weight: 600;
}
.selectr-label::after { 
  content: '\e800';
  font-family: 'fontello';
  padding-left: 5px;
  color: $secondary-text;
}
.open .selectr-label::after { 
  content: '\e803';
  color: $blue;
}
.selectr-label:focus, .selectr-selected:focus, .selectr-input:focus { 
  border: none;
  outline: none;
}
ul.selectr-options { 
  overflow: auto;
  min-width: 80px;
  z-index: 55555;
}
ul.selectr-options > li { 
  width: 100%;
}
.selectr-option.active { 
  background: $primary ;
  color: $main-bg;
}
.selectr-options-container { 
  border: none;
  min-width: 80px;
}

.selectr-container.has-selected .selectr-clear, .selectr-input-container.active, .selectr-input-container.active .selectr-clear, .selectr-input-container.active .selectr-input-clear { 
  display: none;
}
.selectr-container.inverted .selectr-options-container { 
  top: 0;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $secondary-input;
    font-size: 10px;
    font-weight: 600;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $secondary-input;
    font-size: 10px;
    font-weight: 600;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $secondary-input;
    font-size: 10px;
    font-weight: 600;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $secondary-input;
    font-size: 10px;
    font-weight: 600;
  }

