
.product-item {   
  
    a { 
        transition: 300ms ease-in;
        &:hover { 
            text-decoration: none;
            .item { 
                box-shadow: 0 0 5px 3px #c0c0c2ce; 
            } 
        }
    }
    .item { 
        height: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        padding-top: 30px;
        padding-bottom: 45px;
        margin-bottom: 30px;
        transition: 300ms ease-in-out;
        .image { 
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 210px;
            width: 90%;
            
        }
        .title { 
            color: $product-title; 
            font-size: 14px;
            padding-top: 10px; 
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }
        .color { 
            font-size: 12px;
            color: $secondary-input;
            text-transform: uppercase;
            
            padding: 10px 0;
        }
        .price { 
            font-size: 12px;
            color: $primary;
        }
    }
}

.large-product { 
    .product-item { 
        position: relative;
        // a { 
        //     transition: 300ms ease-in;
        //     &:hover { 
        //         text-decoration: none;
        //         .item { 
        //             box-shadow: 0 0 5px 3px #c0c0c2ce; 
        //         } 
        //     }
        // }
        .item { 
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
            padding-top: 0;
            padding-bottom: 0; 
            .image {  
                background-size: cover;
                height: 310px;
                width: 100%;
                
            }
            .line { 
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                padding: 0 20px;
                .large-title-cont {  
                    max-width: 50%;

                    display: flex;
                    flex-direction: column;
                }
                .large-btn-product { 
                    width: 40%;
                    display: flex; 
                    border: 1px solid $secondary-bg;
                    border-radius: 20px;
                    >div { 
                        width: 50%;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        padding: 8px;
                        font-size: 12px;
                        color: $primary;
                    }
                    .buy { 
                        border-left: 1px solid $secondary-bg;
                        text-transform: uppercase;
                        white-space: nowrap;
                    }
                }
            }
            .title { 
                color: $product-title; 
                font-size: 14px;
                padding-top: 10px; 
                padding-left: 0;
                padding-right: 0;
                text-align: left;
            }
            .color { 
                font-size: 12px;
                color: $secondary-input;
                text-transform: uppercase;
                
                padding: 10px 0;
            }
            .price { 
                position: absolute;
                top: 12px;
                left: 12px;
                background: $product-title;
                color: #fff;
                padding: 6px 10px;
                border-radius: 4px;
            }
            
        }
    }
}